<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
{{#if isUserLoggedIn}}
<a href="/private/add-killer">
    <h2>Add Killer</h2>
</a>
<a href="/logout">
    <h2>Log Out</h2>
</a>
{{else}}
<a href="/login">
    <h2>Log In</h2>
</a>
<a href="/signup">
    <h2>Sign Up</h2>
</a>
{{/if}}
=======
<img src="" alt="">
<div>
    <p></p>
</div>
<article>
    <div>

    </div>
    <div>

    </div>
    <div>

    </div>
</article>
<article>
    <div>
        <button>A - Z</button>
        <div>
            <a href="/killers">A</a>
            <a href="/killers/b">B</a>
            <a href="/killers/c">C</a>
            <a href="/killers/d">D</a>
            <a href="/killers/e">E</a>
            <a href="/killers/f">F</a>
            <a href="/killers/g">G</a>
            <a href="/killers/h">H</a>
            <a href="/killers/i">I</a>
            <a href="/killers/j">J</a>
            <a href="/killers/k">K</a>
            <a href="/killers/l">L</a>
            <a href="/killers/m">M</a>
            <a href="/killers/n">N</a>
            <a href="/killers/o">O</a>
            <a href="/killers/p">P</a>
            <a href="/killers/q">Q</a>
            <a href="/killers/r">R</a>
            <a href="/killers/s">S</a>
            <a href="/killers/t">T</a>
            <a href="/killers/u">U</a>
            <a href="/killers/v">V</a>
            <a href="/killers/w">W</a>
            <a href="/killers/x">X</a>
            <a href="/killers/y">Y</a>
            <a href="/killers/z">Z</a>
        </div>
    </div>
    <div>
        <button>Zodiac Sign</button>
        <div>
            <a href="">Aries</a>
            <a href="">Taurus</a>
            <a href="">Gemini</a>
            <a href="">Cancer</a>
            <a href="">Leo</a>
            <a href="">Virgo</a>
            <a href="">Libra</a>
            <a href="">Scorpio</a>
            <a href="">Sagittarius</a>
            <a href="">Capricorn</a>
            <a href="">Aquarius</a>
            <a href="">Pisces</a>
        </div>
    </div>
</article>